:root {
    --main_back: #fbf2c0;
    --font_head: #F96F5D;
    --font_second: #c06e52;
}

body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: var(--main_back);
    color: #48392A;
    padding: 10px;
}

img {
    height: 150px;
}

h1 {
    margin-top: 0px;
    font-size: 2.5em;
    color: var(--font_head)
}

input, button {
    font-size: 1em;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
}

button {
    background-color: var(--font_head);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--font_second);
}

#result {
    font-size: 1.5em;
    margin-top: 20px;
}

#result .c-green {
    color: #008000;
}

#result .c-red {
    color: #ff4500;
}

.valid {
    color: #008000;
}

.invalid {
    color: #ff4500;
}

.emoji {
    font-size: 1.5em;
}
